body {
  font-size: 17px;
  padding-bottom: 20px;
  padding-top: 90px;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.dl-horizontal dt {
  white-space: normal;
}
input {
  max-width: 280px;
}
select {
  max-width: 280px;
}
textarea {
  max-width: 280px;
}
span .field-validation-error {
  color: red;
  font-weight: bold;
}
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 20px;
}
.voffset4 {
  margin-top: 40px;
}
.voffset5 {
  margin-top: 80px;
}
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: rgba(205, 40, 39, 0.55);
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: rgba(205, 40, 39, 0.55);
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(205, 40, 39, 0.55);
}
.navbar-inverse .notifications {
  position: relative;
}
.navbar-inverse .notifications .badge {
  background: #a80a0a;
  position: absolute;
  right: -1px;
  top: 8px;
}
.dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-brand {
  font-weight: 700;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-group {
  margin-bottom: 20px;
}
.input-group:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control {
  -ms-border-radius: 9px;
  border-radius: 9px;
  font-size: 17px;
  height: 44px;
}
.form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #2196f3;
  box-shadow: none;
}
.btn {
  border-radius: 9px;
}
.popover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.gigs {
  list-style: none;
}
.gigs > li {
  margin-bottom: 30px;
  position: relative;
}
.gigs > li .date {
  background: red;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 60px;
}
.gigs > li .date .month {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  text-transform: uppercase;
}
.gigs > li .date .day {
  background: #f7f7f7;
  color: #333333;
  font-size: 20px;
  padding: 6px 20px;
}
.gigs > li .details {
  left: 70px;
  position: absolute;
  top: 0;
}
.gigs > li .details .artist {
  display: block;
  font-weight: bold;
}
.gigs > li .details .genre {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}
.gigs > li .actions {
  display: none;
  font-size: 12px;
}
.gigs > li:hover .actions {
  display: block;
}
.popover-notifications .popover-content {
  padding: 0;
}
.popover-notifications ul.notifications {
  list-style: none;
  padding-left: 0;
}
.popover-notifications ul.notifications .highlight {
  font-weight: bold;
}
.popover-notifications ul.notifications .highlight-old {
  font-style: italic;
  color: red;
}
.popover-notifications ul.notifications .highlight-new {
  font-style: italic;
  color: green;
}
.popover-notifications ul.notifications .highlight-name {
  color: #428bca;
  font-weight: bold;
}
.popover-notifications ul.notifications > li {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
  border-bottom: none;
}
#searchGigs {
  width: 300px;
}